/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;

  /* Colores */
  --bs-primary: #ff2c83 !important;
  --bs-primary-hover: #c72d6d !important;
  --bs-text-ok: #00a89c;

  --bs-primary-rgb: 255, 44, 131 !important;

  /* Bordes */
  --border-radius-default: 0.55rem;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
} */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
}


/* CONTENEDORES */

.cardview-default {
  background: white;
  padding: 20px;
  border-radius: 10px;
  -webkit-box-shadow: 5px 17px 62px -15px rgb(66 68 90);
  -moz-box-shadow: 5px 17px 62px -15px rgba(66, 68, 90, 1);
  box-shadow: 5px 17px 62px -15px rgb(66 68 90);
}


/* INPUTS */

.form-control{
  border-radius: var(--border-radius-default) !important;
}

.invalid-field {
  width: 100%;
  margin-top: 0.25rem;
  font-size: .875em;
  color: #dc3545;
}


.input-password {
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

.span-mask-pass{
  border-top-right-radius: var(--border-radius-default) !important;
  border-bottom-right-radius: var(--border-radius-default) !important;
  border-left: none !important;
  background: white !important;
  cursor: pointer;
}

/* BOTONES */

.btn {
  border-radius: 55rem !important;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out, opacity 0.35s  ease-in-out,box-shadow .15s ease-in-out !important;
}

.btn-primary {
  background-color: var( --bs-primary)  !important;
  border-color: var( --bs-primary)  !important;
}

.btn-primary:hover {
  background-color: var( --bs-primary-hover)  !important;
  border-color: var( --bs-primary-hover)  !important;
}

.btn-outline-primary {
  color: var( --bs-primary) !important;
  border-color: transparent !important;
}

.btn-outline-primary:hover, .btn-outline-primary:focus {
  border-color: transparent !important;
  background-color: white !important;
  color:  var( --bs-primary-hover) !important;
  box-shadow: none !important;
}

a {
  color: var( --bs-primary)  !important;;
  text-decoration: underline;
  cursor: pointer;
}

a:hover {
  color: var( --bs-primary-hover)  !important;
}

/* TEXTO */

.fs-13px {
  font-size: 13px;
}

/* ICONOS */

.icon-msg-success {
  font-size: 70px;
  color: #055160;
}

.icon-msg-error {
  font-size: 70px;
  color: #842029;
}


/* ANIMACIONES */

.transition-height {
  transition: height .25s ease-in-out;
}

.opacity-transition {
  transition: opacity 0.35s ease;
}

.opacity-1 {
  opacity: 1;
}

.opacity-0 {
  opacity: 0;
}